h3 Hello #{name}!
p You have received a bid on one of your properties.

strong Please login to your account for more details.
br
a(href='https://app.ploteye.com/') https://app.ploteye.com/
br
ul Details: 
li #{street}, #{city},  #{country}
li Amount:  #{bidAmount}
li At: #{bidTime}